
/* service card animation */
.service{
    animation: serviceCardAni 1.1s ease-in-out alternate infinite;
}
/* change animation duration for even childs */
.service-container:nth-child(2) .service{
    animation-duration: 900ms;
}

@keyframes serviceCardAni {
    to{transform: translateY(8px) rotate(1deg);}
}


.service::after, .service::before{
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid #dc3545;
    border-radius: 10px;
    transform: translate(20px, 20px);
    transition: transform 1s, opacity 500ms;
    z-index: -1;
}
.service::before{
    transform: translate(-20px, -20px) scale(0.8);
    opacity: 0;
}

/* change styles on hover */
.service:hover::before{
    transform: translate(-20px, -20px) scale(1);
    opacity: 1;
}
.service:hover::after{
    transform: scale(1.2);
    opacity: 0;
}

.card{
    box-shadow: 0 0 10px rgb(189, 189, 189);
    border-radius: 10px;
    overflow: hidden;
}