
/* background of nav toggle icon */
.navbar-toggler{
    background: radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#navBar{
    background: white;
    padding: 20px 0;
}
@media screen and (min-width: 992px) {
    #navBar{
        background: transparent;
        padding: 0;
    }
}