/* not found page css */

#not-found-page{
    margin: 150px 0;
}


#not-found-page #home-link{
    text-decoration: none;
    cursor: pointer;
}
#not-found-page #home-link:hover{
    text-decoration: underline;
}